<%- include ('components/_studentInfo') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h2 class="text-center title">分發志願類組</h2>

<hr>

<div class="row" id="form-placementSelect">
	<div class="col-12">
		<div class="alert alert-warning" role="alert">
			請選填 <strong class="text-danger">分發志願類組</strong>。
		</div>

		<a class="btn btn-success quota-button" id="btn-group1Quota" href="#" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 第一類組校系參考</a>
		<a class="btn btn-success quota-button" id="btn-group2Quota" href="#" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 第二類組校系參考</a>
		<a class="btn btn-success quota-button" id="btn-group3Quota" href="#" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 第三類組校系參考</a>
		<a class="btn btn-success quota-button" id="btn-groupSubjects" href="#" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 十八大學群介紹</a>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header bg-primary text-white">注意事項</div>
					<div class="card-body">
						<p>
							<strong>操作說明</strong>
							<ol>
								<li>
									請於左欄分發類組清單，點選 <span class="badge badge-info"><i class="fa fa-plus" aria-hidden="true"></i></span> 將志願加入右欄。
								</li>
								<li>
									於右欄志願類組可以點選 <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span> 刪除志願。
								</li>
								<li>
									僑生先修部的課程依據同學升學意願並參照臺灣的大學校系區分為：
									<br/>第一類組（文、法、商、教育、藝術）
									<br/>第二類組（理、工）
									<br/>第三類組（醫、農）
									<br/><strong class="text-danger">於僑生先修部春季班結業後，將依結業成績分發至臺灣各大學校系（秋季入學），請慎選報名類組。</strong>
								</li>
								<li>
									僑生先修部結業生參加「聯合分發」時，最多可選填 <strong class="text-danger">70</strong> 個大學校系志願（除了第二、三類組可互相跨類組選填志願外，其餘皆不可跨類組選填志願）。
								</li>
							</ol>
						</p>
						<p>
							<strong class="text-danger">※僑生先修部結業後，欲申請就讀醫學、牙醫及中醫學系者，其最近連續居留海外年限須為8年以上。</strong>
						</p>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xl-6">
				<div class="card card-bottom">
					<div class="card-header">分發類組清單</div>
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select-optionFilter">
									<option value="cardCode">志願代碼</option>
									<option value="group">類組</option>
									<option value="mainGroup">學群</option>
									<option value="school">學校名稱</option>
									<option value="dept">系所名稱</option>
								</select>
							</div>
							<div class="col-7">
								<div class="input-group">
									<input type="text" id="input-optionFilter" class="form-control" id="" placeholder="關鍵字">
									<span class="input-group-btn">
										<button id="btn-manualSearch" class="btn btn-secondary" type="button">
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
									</span>
								</div>
							</div>
						</div>

						<br/>

						<div class="row">
							<div class="col-12">
								<table class="table table-hover">
									<tbody id="optionalWish-list">
									</tbody>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<table class="table table-hover">
									<div id="pagination-container"></div>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card card-bottom">
					<div class="card-header">志願類組</div>
					<div class="card-body">
						<table class="table table-hover">
							<tbody id="wish-list">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md text-center">
		<button id="btn-save" class="btn btn-primary" role="button">儲存</button>
	</div>
</div>


<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<i class="fa fa-3x fa-exclamation-circle" style="color:crimson; margin: 0 auto;" aria-hidden="true"></i>
				<br />
			</div>
			<div class="modal-body" style="color: royalblue; font-weight:600;" id="warningText">

			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
