<h2 class="text-center title">下載報名表件</h2>
<hr>

<div class="alert table-info" role="alert">
	<ul>
		<li>
			請點選「下載所有表件」按鈕，
			<strong class="text-danger">
				將系統產生表件全數印出、備齊簡章規定文件，於報名截止日（2024年11月20日 星期三）前，至
					<a href="https://www.ocac.gov.tw/OCAC/Pages/List.aspx?nodeid=1873" target="_blank">
						受理報名單位（保薦單位）
					</a>
				完成紙本繳件。
			</strong>
		</li>

		<li>
			若表件資料有誤（含無法顯示特殊字），請填寫「<a class="correction-form-link" target="_blank">資料修正表</a>」並連同上述紙本資料繳交至受理報名單位，始完成報名程序。
		</li>

		<li>
			本會為實質了解您赴臺升學動機及提升本報名系統，懇請利用幾分鐘時間填寫本會調查問卷，預祝您金榜提名!!（
				<a href="https://survey.alchemer.com/s3/8043830/2025" target="_blank">
					點此開始填寫問卷
				</a>
			）
		</li>
	</ul>
</div>

<div class="row">
	<div class="col-12">
		<a href="#" class="btn btn-success btn-block btn-lg" target="_blank" role="button" id="btn-smart">
			<i class="fa fa-download" aria-hidden="true"></i> 下載所有表件
		</a>
		<div class="text-center">
			<small id="memo" class="text-danger"></small>
		</div>
	</div>
</div>
