<% include components/_studentInfo %>

<h2 class="text-center title">分發成績採計方式</h2>

<hr>
<div id="choose-placement-apply-way">
	<div class="row">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-header bg-primary text-white">請選擇您欲申請的成績採計方式。</div>
				<div class="card-body">
					<div class="form-group" id="apply-ways">
						<fieldset class="form-group">
							<div class="form-group">
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input applyOptions" type="radio" name="applyOptions" value="1"> 以獨中統考文憑申請
									</label>
								</div>
								<hr>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input applyOptions" type="radio" name="applyOptions" value="2"> 以 STPM 文憑申請 或 A Level 文憑申請
									</label>
								</div>
								<hr>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input applyOptions" type="radio" name="applyOptions" value="3"> 以 SPM 文憑申請 或 S.A.P 、 Pernyataan 、 O Level 、 SPM 預考成績證明
									</label>
								</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 forCode01 hide">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-header bg-primary text-white">請提供馬來西亞華文獨中統考准考證號碼</div>
				<div class="card-body">
					<fieldset class="form-group">
						<div class="form-group">
							<label>馬來西亞華文獨中統考准考證號碼</label>
							<input type="text" class="form-control my_admission_ticket_no" placeholder="ex: s3706103, v1906010"><br/>
							<div class="alert alert-info" role="alert">若參加多次考試請以逗點隔開准考證號碼</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-12 text-center">
			<a class="btn btn-primary btn-save" href="javascript:;" role="button">儲存</a>
		</div>
	</div>
</div>
